[submodule "libraries/libft"]
	path = libraries/libft
	url = git@github.com:42sh-niccheva/libft.git
[submodule "libraries/liblist"]
	path = libraries/liblist
	url = git@github.com:42sh-niccheva/liblist.git
[submodule "libraries/libreadline"]
	path = libraries/libreadline
	url = git@github.com:42sh-niccheva/libreadline.git
[submodule "libraries/libjson"]
	path = libraries/libjson
	url = git@github.com:42sh-niccheva/libjson.git
[submodule "libraries/liboption"]
	path = libraries/liboption
	url = git@github.com:42sh-niccheva/liboption.git
